@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.07em;
  background-color: #2d2d2d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ================================= Reusable CSS ================================= */
.fs-xs {
  font-size: 8px;
}

.fs-sm {
  font-size: 10px;
}

.fs-md {
  font-size: 12px;
}

.bg-blue {
  background-color: #2c4d7e;
}

.bg-darken {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
}

.text-whitePale {
  color: rgba(255, 255, 255, 0.4);
}

.rounded-20 {
  border-radius: 20px;
}

.bg-yellowGradient {
  background: linear-gradient(98.13deg, #ff7a00 3.37%, #ffbf00 116.11%);
}

.silverGradient {
  background: linear-gradient(303.14deg, #2d2d2d -26.39%, #989898 84.26%);
  width: 60px;
}

.grid-rewards {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

/* ================================= Container CSS ================================= */

.containerBase {
  width: 320px;
  background-image: linear-gradient(150deg, #071d57, #020024);
  min-height: 100vh;
}

.containerMini {
  max-width: 412px;
  margin: 0 auto;
}

.paddingContent {
  padding: 16px 16px 66px 16px;
}

/* ================================= Login & Register CSS ================================= */

input {
  border-style: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 5px 0 5px 15px;
}

input[type="password"] {
  padding: 5px 45px 5px 15px;
}

.btn-confirm {
  border-radius: 10px;
  padding: 12px 0;
}

.btn-help {
  position: absolute;
  bottom: 22px;
  right: 5px;
}

/* svg {
  width: 35px;
} */

/* .imgLogo {
  width: 100px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
} */

.btn-back {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 6px;
}

.btn-back:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.btn-back svg {
  width: 15px;
  fill: white;
}

.btnShowPassword {
  top: 51.5%;
  left: 93%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: transparent;
}

.btnShowPw {
  top: 369px;
  left: 88%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: transparent;
}

.btnShowConfirmPw {
  top: 451px;
  left: 88%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: transparent;
}

/* ================================= Dashboard CSS ================================= */

nav a svg {
  fill: white;
  fill-opacity: 0.4;
}

nav a:hover svg,
nav a:hover span {
  color: white;
  fill-opacity: 1;
}

.navbar .navbar-brand.active svg,
.navbar .navbar-brand.active span {
  color: white;
  fill-opacity: 1;
}

#marquee {
  background: rgb(238, 238, 16);
}

.bg-cardGold {
  background-image: url("img/Card_Gold.svg");
  background-size: cover;
}

.cardHero {
  height: 210px;
}

.coin {
  width: 80px;
  z-index: 1;
  right: 32px;
}

.coinText {
  z-index: 2;
  right: 28px;
  top: 22px;
}

.ribbon {
  width: 40px;
  margin-right: 16px;
}

.gap-btnMid {
  gap: 8px;
}

.btn-mid {
  width: 118px;
  height: 91px;
}

.btn-mid svg {
  width: 22px;
}

/* ================================= Challenge CSS ================================= */
.cardRed {
  background: linear-gradient(98.61deg, #d14040 0.48%, #ac1f1f 100.04%);
}

.btn-spin {
  width: 125px;
  height: 35px;
}

.btn-dailyLogin {
  width: 126px;
  height: 160px;
}

.btn-dailyLogin:active {
  background-color: #277cb9;
  width: 137px;
  height: 175px;
}

.txtDays-active {
  position: absolute;
  top: 16px;
  left: 16px;
}

.checklistDays-active {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.bg-quiz {
  background-image: url("img/bg-quiz.svg");
  background-size: cover;
}

/* ================================= Leaderboard CSS ================================= */
.yellowRectangle {
  background: #fea832;
  border: 1px solid #fea832;
  box-shadow: 0px 3px 0px #d36f12;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 19px;
  left: 0;
  z-index: 1;
}

.greenRectangle {
  background: #379a6a;
  border: 1px solid #379a6a;
  box-shadow: 0px 3px 0px #0a6b48;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 1;
}

.blueRectangle {
  background: #00a3ff;
  border: 1px solid #00a3ff;
  box-shadow: 0px 3px 0px #0064ac;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 1;
}

.ribbonYellow {
  position: absolute;
  top: 2px;
  left: 9px;
  width: 11px;
}

.ribbonGreen {
  position: absolute;
  top: 2px;
  left: 9px;
  width: 11px;
}

.ribbonBlue {
  position: absolute;
  top: 2px;
  left: 9px;
  width: 11px;
}

/* ================================= Rewards CSS ================================= */
.cardLevel {
  width: 250px;
}

.ribbonRewards {
  width: 40px;
}

.cardPoin {
  width: 130px;
  height: 130px;
  background: #fe9923;
  border-radius: 20px;
}

.rewardsPoin {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* ================================= Profile CSS ================================= */
.btn-changeProfile {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  right: 0px;
}

.svgProfile {
  width: 10px;
  height: 10px;
}

/* .circular-progress {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 75%;
  width: 75%;
  background-color: #071d57;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-weight: 700;
  color: #111;
} */

.progressBox {
  height: 100px;
  width: 100px;
}

.outer {
  background: rgba(255, 255, 255, 0.1);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 12px;
}

.inner {
  background: #071d57;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 11px;
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: circleAnimate 2s linear forwards;
}

.circleBar {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 122px;
}

@keyframes circleAnimate {
  100% {
    stroke-dashoffset: 110;
  }
}

/* ================================= Responsive CSS ================================= */

@media screen and (min-width: 360px) {
  .containerBase {
    width: 360px;
  }

  .imgLogo {
    width: 120px;
  }

  input {
    padding: 8px 0 8px 15px;
  }

  input[type="password"] {
    padding: 8px 45px 8px 15px;
  }

  .btnShowPassword {
    top: 53%;
  }

  .btnShowPw {
    left: 89.5%;
    top: 391px;
  }

  .btnShowConfirmPw {
    left: 89.5%;
    top: 479px;
  }

  .fs-xs {
    font-size: 10px;
  }

  .fs-sm {
    font-size: 11px;
  }

  /* ========== Dashboard ========== */
  .silverGradient {
    width: 70px;
  }

  /* ========== Rewards ========== */
  .cardPoin {
    height: 140px;
  }

  /* ========== Leaderboards ========== */
  .yellowRectangle {
    box-shadow: 0px 4px 0px #d36f12;
    height: 24px;
    top: 17.5px;
  }

  .greenRectangle {
    box-shadow: 0px 4px 0px #0a6b48;
    height: 24px;
    top: 49px;
  }

  .blueRectangle {
    box-shadow: 0px 4px 0px #0064ac;
    height: 24px;
    top: 80px;
  }

  .ribbonYellow {
    top: 3px;
    left: 8.5px;
    width: 12px;
  }

  .ribbonGreen {
    top: 3px;
    left: 8.5px;
    width: 12px;
  }

  .ribbonBlue {
    top: 3px;
    left: 8.5px;
    width: 12px;
  }
}

@media screen and (min-width: 375px) {
  .containerBase {
    width: 375px;
  }

  .imgLogo {
    width: 130px;
  }

  /* ========== Dashboard ========== */
  .coinText {
    right: 27px;
    top: 23.5px;
  }

  /* ========== Leaderboards ========== */
  .yellowRectangle {
    top: 18.5px;
  }

  .greenRectangle {
    top: 49.5px;
  }

  .blueRectangle {
    top: 80.5px;
  }

  .ribbonYellow {
    left: 9px;
  }

  .ribbonGreen {
    left: 9px;
  }

  .ribbonBlue {
    left: 9px;
  }

  /* ========== Rewards ========== */
  .cardPoin {
    height: 150px;
  }
}

@media screen and (min-width: 390px) {
  .containerBase {
    width: 390px;
  }

  .imgLogo {
    width: 140px;
  }

  /* ========== Dashboard ========== */
  .coin {
    width: 85px;
  }

  .ribbon {
    margin-right: 18px;
  }

  .silverGradient {
    width: 75px;
  }

  /* ========== Challenge ========== */
  .btn-spin {
    width: 140px;
  }
}

@media screen and (min-width: 412px) {
  .containerBase {
    width: 412px;
  }

  .btnShowPassword {
    left: 94%;
  }

  .btnShowPw,
  .btnShowConfirmPw {
    left: 91%;
  }

  /* ========== Dashboard ========== */
  .silverGradient {
    width: 85px;
  }

  /* ========== Rewards ========== */
  .cardPoin {
    height: 160px;
  }
}

/* @media screen and (min-width: 428px) {
  .containerBase {
    width: 428px;
  }

  .imgLogo {
    width: 150px;
  }

  ========== Dashboard ==========
  .btn-mid {
    width: 128px;
    padding: 24px 0;
  }
}

@media screen and (min-width: 500px) {
  .containerBase {
    width: 500px;
  }

  .btnShowPw,
  .btnShowConfirmPw {
    left: 93%;
  }

  ========== Dashboard ==========
  .coin {
    width: 95px;
    right: 32px;
  }

  .coinText {
    top: 23px;
  }

  .ribbon {
    width: 42px;
    margin-right: 18px;
  }

  .btn-mid {
    width: 148px;
    padding: 48px 0;
  }

  .gap-btnMid {
    gap: 16px;
  }

  .btn-mid svg {
    width: 28px;
  }

  .fs-md {
    font-size: 1rem;
  }
} */
